.App {
  width: 500px;
  background-color: whitesmoke;
  padding: 15px;
  flex: content;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 30px auto;
  font-weight: bold;
}

.btn {
  border: none;
  background-color: blue;
  outline: none;
  border-radius: 10px;
  padding: 10px;
  color: white;
  font-size: 15px;
}